<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
  <nav>
    <div class="logo-container">
    <img src="/images/portfolio.jpg" alt="Prajakta" class="logo-img"></div>
 <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/skills">Skills</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a class="active" href="/certification">Certifications</a></li>
    </ul>
  </nav>
</header>
<body>
<main>
    <section class="certifications">
    <h1 class="certification-heading">Certifications & Achievements</h1>
    <div class="certifications-container">
      
      <a href="/certifications/BuildProject.pdf" target="_blank" class="cert-card">
        <img src="/images/buildProject.png" alt="Build Project Certification">
      </a>

      <a href="https://www.credly.com/badges/73833d00-6901-4098-8f61-59b72afb5f9b/linked_in_profile" target="_blank" class="cert-card">
        <img src="/images/aws-ccp.png" alt="Certification 2">
      </a>

      <a href="https://www.credly.com/badges/4f883aec-87e8-41ed-b808-c8c74eb78ef0/linked_in?t=sww73x" target="_blank" class="cert-card">
        <img src="/images/aws-AIP.png" alt="Certification 3">
      </a>

      <!-- Add more certification cards here -->

    </div>
  </section>
</main>
<script src="/js/logo.js"></script>
</body>
</html>